@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav img {
    width: 11%;
    height: 11%;
}

header, nav {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    transition: background-color 0.5s ease-in-out;
}

#Header.fixed {
    background-color: #121212;
  }

  #Nav.fixed {
    background-color: #121212;
  }

#section-1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(18, 18, 18, 1)), url("/Midia/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  }

#titulo, #section-2 h1 {
    color: white;
    font-family: 'Palanquin', Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
#btn {
    background-color: rgba(128, 195, 66, 1);
}

#section-2 {
    background-color: #121212;
}

#div-imagens h2 {
    font-family: 'Palanquin', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

 #div-imagens:hover {
    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;
} 

i {
    background-color: white;
}

svg {
    background-color: white;
    border-radius: 100%;
    color: white;
    padding: 1px;
}

#pontos button {
    color: white;
    padding: 0.5vh; 
    border-radius: 100%; 
    border: none;
}

#pontos button.active {
    background-color: rgba(128, 195, 66, 1);
}

#div-cursos {
    margin: 0vh 12vw;
}

#div-cursos div {
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 3rem 1rem 1rem 1rem;
}

#div-cursos h3, p {
    color: white;
}

#atendimento {
    background-color: #1c1c1c;
    padding: 2rem;
    border-radius: 20px;
    width: 36vw;
}

footer {
    background-image: url(/Midia/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}

footer h3 {
    color: white;
    margin-bottom: 4vh;
}

.p {
    margin-bottom: 0;
    cursor: pointer;
}

#redes svg {
    background-color: #404040;
    height: 100%;
}